extends layout.pug

block content
  h1= `${numberOfBooks} Books In Library`
  p
    a.button(href='/books/new') Create New Book
  p
    form(action='/books/search', method='POST')
      input(name="search" type="text" id="search" placeholder="Search title, author, genre, or year")
      input(type="submit" value="Search")
  p
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
        each book in books
          tr
            td
              a(href=`/books/${book.id}`)= book.title
            td= book.author
            td= book.genre
            td= book.year
    p
      each button in pageButtons
        a.button(href=`?offset=${button}` style='margin-right: 10px;')= button